<h2>Search for Books</h2>

<form method="GET" action="/search">


<table>
<tr>
    <td><button class="btn btn-outline-dark" type="submit" name="q" value="A">A</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="B">B</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="C">C</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="D">D</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="E">E</button></td>
        
</tr>

<tr>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="F">F</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="G">G</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="H">H</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="I">I</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="J">J</button></td>
        
</tr>
<tr>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="K">K</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="L">L</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="M">M</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="N">N</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="O">O</button></td>
        
</tr>
<tr>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="P">P</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="Q">Q</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="R">R</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="S">S</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="T">T</button></td>
        
</tr>

<tr>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="U">U</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="V">V</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="W">W</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="X">X</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="Y">Y</button></td>
        
</tr>

<tr>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="Z">Z</button></td>        
</tr>

<tr>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="0">0</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="1">1</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="2">2</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="3">3</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="4">4</button></td>
        
</tr>

<tr>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="5">5</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="6">6</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="7">7</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="8">8</button></td>
    <td><button class="btn btn-outline-dark"  type="submit" name="q"  value="9">9</button></td>
        
</tr>

</table>

</form>
